MONGO_INITDB_ROOT_USERNAME=your_username
MONGO_INITDB_ROOT_PASSWORD=your_password
MONGO_INITDB_DATABASE=blog_db
CONTAINER_NAME=TsukoYnov25
IMAGE_NAME=rendu-devopsverninugo
IMAGE_TAG=1.0.0
MONGODB_PORT=2505
